.adventure-card {
  position: relative;
  min-height: 250px;
  background-color: #222222;
  text-align: left;
  border-radius: 8px;
  overflow: hidden;
  .user-avatar {
    margin: 0 -10px 0 0;
  }
}
.adventure-loading,
.no-adventure {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  background-color: transparent;
  text-align: center;
  line-height: 1em !important;
  padding: 30px !important;
  border: 2px dashed $dark-gray;
  border-radius: 8px;
  overflow: hidden;
  p {
    font-size: 1.2rem;
    font-weight: bold !important;
  }
  .button {
    margin-bottom: 0;
  }
}
.card-divider {
  position: relative;
  background: rgba($darkest, 0.2);
  color: $dark-gray;
  font-size: 0.75rem;
  padding: 5px 20px;
  z-index: 4;
}
.card {
  position: relative;
  padding: 0;
  overflow: hidden;
}
.card-content {
  position: relative;
  padding: 10px 20px 20px;
  margin-bottom: 35px;
  z-index: 2;
}
.card-background,
.card-background-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/backgrounds/image2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0.25;
  z-index: 1;
}
// TODO: For testing purposes only
.card-background-2 {
  background-image: url("../img/backgrounds/image7.jpg");
}
// ------------------------------------------------------------------------------
