body {
  margin: 0;
  padding: 0;
}
// Custom container
// ------------------------------------------------------------------------------
*,
*:active,
*:focus,
*:hover {
  transition: all 0.15s linear;
}
a,
button {
  &:active,
  &:focus,
  &:hover,
  &:visited {
    outline: none !important;
  }
}
.button {
  text-transform: uppercase;
}
.sr-only {
  display: none;
}
.single-line-text,
.single-line-text div,
a.single-line-text {
  width: 95% !important;
  line-height: 1em;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
// TODO: Need this to truncate multiline description text
#multiline {
  width: 100%;
  height: 2.4em;
  margin: 0 !important;
  overflow: hidden;
}
// ------------------------------------------------------------------------------
.adventure-widget-outer {
  position: relative;
  background-color: $black;
  padding-top: calc(12px / 2);
  // Next / Previous buttons
  // ------------------------------------------------------------------------------
  .next,
  .previous {
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 2rem;
    color: $stable;
    background-color: rgba($darkest, 0.6);
    font-size: 2rem;
    padding: 20px;
    border: 0;
    opacity: 0;
    z-index: 1000;
    @include breakpoint(large down) {
      top: auto;
      bottom: 0;
      height: 22px;
      font-size: 1.8rem;
      color: $dark-gray;
      background-color: transparent !important;
      padding: 0 15px;
      opacity: 0.8;
    }
    &:focus,
    &:hover {
      background-color: rgba($darkest, 0.6);
      opacity: 1;
    }
  }
  .next {
    right: 0;
  }
  .previous {
    left: 0;
  }
}
// Layout grid
// ------------------------------------------------------------------------------
.adventure-widget-inner {
  // ------------------------------------------------------------------------------
  margin-bottom: -5px;
  overflow: hidden;
  @include grid-layout(5, '.card-wrapper', $module-spacing);
  // TODO: Hiding last two cards at xxlarge screen size
  @include breakpoint(xxlarge only) {
    article:last-child,
    article:nth-child(11n) {
      display: none;
    }
  }
  // ------------------------------------------------------------------------------
  @include breakpoint(xlarge down) {
     @include grid-layout(4, '.card-wrapper', $module-spacing);
  }
  @include breakpoint(large down) {
     @include grid-layout(3, '.card-wrapper', $module-spacing);
  }
  @include breakpoint(medium down) {
     @include grid-layout(2, '.card-wrapper', $module-spacing);
  }
  @include breakpoint(small down) {
     @include grid-layout(1, '.card-wrapper', $module-spacing);
  }
}
// Typography
// ------------------------------------------------------------------------------
.adventure-description,
.adventure-location,
.adventure-name,
.adventure-number,
.adventure-time,
.adventure-type {
  color: $dark-gray;
  font-size: 0.75rem;
  text-transform: capitalize;
  margin: 0;
}
.adventure-type {
  display: inline-block;
  color: $energized;
  text-transform: uppercase;
  @include breakpoint(small down) {
    display: block;
  }
}
.adventure-time {
  float: right;
  color: $stable;
  text-transform: uppercase;
  margin-left: 10px;
}
.adventure-name {
  color: $stable;
  font-size: 1rem;
  font-weight: 500;
  &:hover {
    color: $stable;
  }
}
.adventure-location {
  color: $dark-gray;
  text-transform: capitalize;
  margin-top: 0;
  &:hover {
    color: inherit;
  }
}
.adventure-description {
  color: $light-gray;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1em;
  text-transform: none;
  padding-top: 10px !important;
}
.adventure-number {
  width: 100%;
  color: $dark-gray;
  font-size: 0.75rem;
  text-transform: capitalize;
  margin-top: 10px;
  span {
    font-size: 11px;
    text-transform: uppercase;
    color: $balanced;
    margin-left: 5px;
  }
}
.adventure-users {
  width: 100%;
  text-transform: capitalize;
  margin-top: 0;
  @include breakpoint(medium down) {
    text-align: left;
    a {
      margin-right: 0;
    }
  }
}
.plus-more {
  color: $dark-gray;
  font-size: 0.75rem;
  margin-left: 10px;
  text-transform: lowercase;
  &:hover {
    color: inherit;
  }
}
// Footer
// ------------------------------------------------------------------------------
.adventure-widget-footer {
  color: $energized;
  font-size: 0.75rem;
  text-align: right;
  padding: 8px 70px 10px;
  @include breakpoint(large down) {
    text-align: center;
  }
  .logo {
    display: inline-block;
    height: 25px;
    margin-right: 5px;
  }
}
