// Skill Level Icons
// ------------------------------------------------------------
.skill-level-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 35px;
  text-align: center;
  padding: 7px 5px 0;
  z-index: 100;
  border-radius: 0 0 8px 8px;
  span {
    display: inline-block;
    height: 20px;
    font-size: rem-calc(14);
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: 5px;
    margin: 0 0 10px !important;
  }
  &.easiest {
    background-color: rgba($energized-light, 0.1);
  }
  &.easy,
  &.medium {
    background-color: rgba($calm, 0.1);
  }
  &.intermediate {
    background-color: rgba($balanced, 0.1);
  }
  &.hard {
    background-color: rgba($darkest, 0.5);
  }
  &.hardest {
    background-color: rgba($assertive, 0.1);
  }
}
.skill-level {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden !important;
  text-align: center;
  &.sm {
    width: 20px;
    height: 20px;
    @include breakpoint(medium down) {
      width: 20px;
      height: 20px;
    }
  }
  &.md {
    width: 30px;
    height: 30px;
  }
}
// Mountain Biking
// ------------------------------------------------------------
.icon-mountain-biking-skill-level-1 {
  background-image: url("../img/skill-level/icon-mountain-biking_easiest.svg");
  background-size: cover;
}
.icon-mountain-biking-skill-level-2 {
  background-image: url("../img/skill-level/icon-mountain-biking_easy.svg");
  background-size: cover;
}
.icon-mountain-biking-skill-level-3 {
  background-image: url("../img/skill-level/icon-mountain-biking_medium.svg");
  background-size: cover;
}
.icon-mountain-biking-skill-level-4 {
  background-image: url("../img/skill-level/icon-mountain-biking_hard.svg");
  background-size: cover;
}
.icon-mountain-biking-skill-level-5 {
  background-image: url("../img/skill-level/icon-mountain-biking_hardest.svg");
  background-size: cover;
  &.sm {
    width: 40px !important;
    height: 20px !important;
  }
  &.md {
    width: 60px !important;
    height: 30px !important;
  }
}
// Road Biking
// ------------------------------------------------------------
.icon-road-biking-skill-level-1 {
  background-image: url("../img/skill-level/icon-road-biking_easiest.svg");
  background-size: cover;
}
.icon-road-biking-skill-level-2 {
  background-image: url("../img/skill-level/icon-road-biking_easy.svg");
  background-size: cover;
}
.icon-road-biking-skill-level-3 {
  background-image: url("../img/skill-level/icon-road-biking_medium.svg");
  background-size: cover;
}
.icon-road-biking-skill-level-4 {
  background-image: url("../img/skill-level/icon-road-biking_hard.svg");
  background-size: cover;
}
.icon-road-biking-skill-level-5 {
  background-image: url("../img/skill-level/icon-road-biking_hardest.svg");
  background-size: cover;
}
// Hiking/Running/Trail Running
// ------------------------------------------------------------
.icon-hiking-skill-level-1,
.icon-running-skill-level-1,
.icon-trail-running-skill-level-1 {
  background-image: url("../img/skill-level/icon-hiking_easiest.svg");
  background-size: cover;
}
.icon-hiking-skill-level-2,
.icon-running-skill-level-2,
.icon-trail-running-skill-level-2 {
  background-image: url("../img/skill-level/icon-hiking_easy.svg");
  background-size: cover;
}
.icon-hiking-skill-level-3,
.icon-running-skill-level-3,
.icon-trail-running-skill-level-3 {
  background-image: url("../img/skill-level/icon-hiking_medium.svg");
  background-size: cover;
}
.icon-hiking-skill-level-4,
.icon-running-skill-level-4,
.icon-trail-running-skill-level-4 {
  background-image: url("../img/skill-level/icon-hiking_hard.svg");
  background-size: cover;
}
.icon-hiking-skill-level-5,
.icon-running-skill-level-5,
.icon-trail-running-skill-level-5 {
  background-image: url("../img/skill-level/icon-hiking_hardest.svg");
  background-size: cover;
}
// Level Text
// ------------------------------------------------------------
.icon-hiking-skill-level-1 + span,
.icon-mountain-biking-skill-level-1 + span,
.icon-road-biking-skill-level-1 + span,
.icon-running-skill-level-1 + span,
.icon-trail-running-skill-level-1 + span {
  color: $energized-light;
}
.icon-hiking-skill-level-3 + span,
.icon-road-biking-skill-level-3 + span,
.icon-running-skill-level-3 + span,
.icon-trail-running-skill-level-3 + span {
  color: $warning-color;
}
.icon-hiking-skill-level-2 + span,
.icon-mountain-biking-skill-level-2 + span,
.icon-mountain-biking-skill-level-3 + span,
.icon-road-biking-skill-level-2 + span,
.icon-running-skill-level-2 + span,
.icon-trail-running-skill-level-2 + span {
  color: $calm;
}
.icon-hiking-skill-level-5 + span,
.icon-mountain-biking-skill-level-5 + span,
.icon-road-biking-skill-level-5 + span,
.icon-running-skill-level-5 + span,
.icon-trail-running-skill-level-5 + span {
  color: $assertive;
}
