<!-- BEGIN IFRAME -->
<!-- TODO: Dynamically change body background color by inputting hex value -->
<!-- TODO: TO CHANGE THEME, SWITCH data-theme="dark" TO data-theme="light"-->
<div class="adventure-widget-outer" data-background-color="#ffffff" data-theme="dark" data-equalizer data-equalize-on="medium">
  <button class="button next" title="Next"><i class="ion-chevron-right"></i></button>
  <button class="button previous" title="Previous"><i class="ion-chevron-left"></i></button>
  <div class="expanded row adventure-widget-inner">
    {{>card-item}}
    {{>card-item-2}}
    {{>card-item-3}}
    {{>card-loading}}
    {{>card-no-adventure}}
    {{>card-item-2}}
    {{>card-item}}
    {{>card-loading}}
    {{>card-item-3}}
    {{>card-item}}
    {{>card-loading}}
    {{>card-item}}
  </div>
  {{>footer}}
</div>
<!-- END IFRAME -->
