<!-- BEGIN CARD -->
<article id="" class="card-wrapper">
  <div class="card no-adventure" data-equalizer-watch>
    <div class="card-message">
      <p>Whoa! You don't have any adventures yet...</p>
      <a href="#" class="button small">Create one</a></div>
  </div>
</article>
<!-- END CARD -->
