<!-- BEGIN CARD -->
<article id="" class="card-wrapper">
  <div class="card adventure-loading" title="Adventures Loading..." data-equalizer-watch>
    <div id="loader" class="overlay-loader">
      <img class="loader-icon spinning-gear-1" src="assets/img/loader/gear-loader.svg">
      <span class="sr-only">Adventures Loading...</span>
    </div>
  </div>
</article>
<!-- END CARD -->
