<!-- BEGIN CARD -->
<article id="" class="card-wrapper">
  <div class="card adventure-card" data-equalizer-watch>

    <!-- Card date -->
    <div class="card-divider">Friday, June 10th {{>badges}}
    </div>

    <!-- Card background -->
    <div class="card-background-2"></div>

    <!-- Card content -->
    <div class="card-content">
      <a href="#" class="adventure-type">
        <i class="icon-mountain-biking"></i> Mountain Biking
        <div class="adventure-time">12:00pm</div>
      </a>
      <div class="single-line-text">
        <a href="#" class="adventure-name">Adventure name</a>
      </div>
      <div class="single-line-text">
        <a href="#" class="adventure-location">701 Bryant St, Denver, CO 80204, USA</a>
      </div>

      <div class="adventure-number">
        6 adventurers
        <span>6 spots left!</span>
      </div>
      <div class="adventure-users">
        <a href="user-show.html" class="user-avatar sm" title="User Name"><img src="assets/img/badges/placeholder-avatar.svg">
          <div class="event-badge badge-adventure-leader xs" title="Adventure Leader"></div>
        </a>
        <a href="#" class="user-avatar sm" title="User Name"><img src="assets/img/badges/placeholder-avatar.svg"></a>
        <a href="#" class="user-avatar sm" title="User Name"><img src="assets/img/badges/placeholder-avatar.svg"></a>
        <a href="#" class="plus-more"><i class="ion-plus"></i> 5 more</a>
      </div>
    </div>

    <!-- Card skill level -->
    <!--div class="skill-level-wrapper easy" title="Skill Level: Easy">
      <div class="skill-level icon-mountain-biking-skill-level-2 sm"></div>
      <span>Easy</span>
    </div-->
  </div>
</article>
<!-- END CARD -->
