<!-- BEGIN FOOTER -->
<footer class="adventure-widget-footer">
  <a href="https://yazdaapp.com" title="Go to Yazda" target="_blank">
    <img class="logo" src="{{root}}assets/img/logo/yazda_full_horizontal.svg">
    Yazdaapp.com
  </a>
</footer>
<!-- END FOOTER -->
