<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no">
    <title>Yazda Adventures Widget</title>
    <meta name="description" content "Search for available Yazda adventures.">
    <!-- Icon Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css">
    <link rel="stylesheet" href="{{root}}assets/fonts/yazda/yazda-icons.css">
    <!-- Styles -->
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>

  <body>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    <script src="{{root}}assets/js/app.js"></script>
    <!--TODO: Need this to truncate multiline description text-->
    <script>
      var $p = $('#multiline .adventure-description');
      var divh = $('#multiline').height();
      while ($p.outerHeight() > divh) {
        $p.text(function(index, text) {
          return text.replace(/\W*\s(\S)*$/, '...');
        });
      }

    </script>


  </body>
</html>
